
@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');

:root {
    /* background */
    --color-bg: #fff;
    --color-bg-logo: #5b4fcf;
    --color-bg-filtre: #f5f5f7;
    --color-bg-btn: #ede9ff;
    --color-bg-voir-btn-hover: #4a3db0;
    --footer-bg-color: #121212; 
   
    /* border */
    --color-border-bottom: #e8e8f0;
    --color-border: #d0cfe8;
    --color-border-li: #e4e4ec;
    --color-border-card: #ebebf0;

    /* texte */
    --primary-color: #18122C;
    --color-gras: #4845D2;
    --color-text: #fff8b9;

    /* btn */
    --color-btn: #555;
    --color-btn-hover: #1a1a2e;

    /* shadow */
    --shadow-box: rgba(91, 79, 207, 0.1);

    /* font-family */
    --text-kodeMono:  "Kode Mono", monospace;
 
}
